:root {
  --main-title-color: #fff;
  --second-title-color: #303030;
  --main-btn-color: #fff;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: 0;
}

ul, 
ol {
  margin: 0;
  padding: 0;
}

img {
  display:block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid #FF6C00;
  background-color: transparent;
}

.btn:is(:hover, :focus) {
  color: var(--main-btn-color);
  background-color: #FF6C00;
}

.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

/**--------------- HEADER ---------------*/

.header {
  padding-top: 32px;
  background-color: #7b7575;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 130px;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-tel {
  margin-left: auto;
}

.header-item {
 
}

.header-item:last-child {
  margin-right: 0;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #FFF;
}

.header-link:is(:hover, :focus) {
  color: #FF6C00;
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFF;
}

.header-btn {
  color: var(--main-btn-color);
  margin-left: 40px;
}

/**--------------- HERO ---------------*/

.hero {
  
}

.hero-container {
  display: flex;
}

.hero-wrap {
  background-color: #7b7575;
  flex-grow: 1;
  padding: 272px 100px 208px;
  /* width: calc(100% - 100px); */
}

.hero-list {
  width: 100px;
}

.list {
}

.hero-item {
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-link:is(:hover, :focus) {
  color: #FF6C00;
}

.hero-top-text {
  color: rgba(157, 164, 189, 0.60);
  margin-bottom: 20px;
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: 20px;
}

.hero-bottom-text {
  color: #9da4bd;
  max-width: 360px;
}

/**--------------- ABOUT ---------------*/

.about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-container {
  display: flex;
  gap: 30px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-wrap {
  padding-right: 100px;
}


.about-item {
}

.about-top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 20px;
}

.about-title {
margin-bottom: 20px;
color: #303030;
}

.about-bottom-text {
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
color: #555555;
margin-bottom: 20px;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.2em;
  color: #555;
  margin-bottom: 42px;
}

.about-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
}

/**--------------- PRICES ---------------*/

.prices {
  background-color: #303030;
  padding-top: 120px;
  padding-bottom: 120px;
}

.prices-top-text {
  color: rgba(157, 164, 189, 0.60);
  margin-bottom: 20px;
}

.prices-title {
  color: #FFF;
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.prices-list {
  border: 1px solid #ffffff;
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
}

.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.prices-item:last-child {
  margin-bottom: 0;
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67; 
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.prices-btn {
  color: #FFF;
}

/**--------------- BENEFITS ---------------*/

.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-list {
}

.benefits-item .count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}
.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-top-text {
  color: #303030;
}

.benefits-title {
color: var(--second-title-color);
}

.benefits-bottom-text {
color: #555;
}

/**--------------- BARBERS ---------------*/

.barbers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.barbers-top-text {
  color: #303030;
  margin-bottom: 20px;
}

.barbers-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  gap: 30px;
}

.barbers-item {
  width: calc((100% - 60px) / 3);
}

.barbers-item-tittle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color:#303030;
}

.barbers-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

/**--------------- GALLERY ---------------*/

.gallery {
  padding-top: 120px;
  padding-bottom: 120px;
}

.gallery-top-text {
  color: #303030;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  width: calc((100% - 60px) / 4);
}